###################
## Configuration ##
###################

option_settings:
  # Environment variables
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME: 'YOURDB-ENDPOINT.rds.amazonaws.com'
    RDS_DB_NAME: 'DBNAME'
    RDS_USERNAME: 'MOODLE_USER'
    RDS_PASSWORD: 'MOODLE_USER_PASS'
    APP_WWWROOT: 'https://YOURDOMAIN'
  # Options php.ini
  aws:elasticbeanstalk:container:php:phpini:
    zlib.output_compression: true
    memory_limit: 256M
  # Type, role and deploy mode
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    EnvironmentType: LoadBalanced
  aws:elasticbeanstalk:command:
    BatchSize: '50'
    Timeout: '600'
    BatchSizeType: Percentage
    IgnoreHealthCheck: false
    DeploymentPolicy: Rolling
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /healthcheck.html
  # Configurations autoscaling and update config
  aws:autoscaling:launchconfiguration:
    MonitoringInterval: 1 minute
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t2.micro
    EC2KeyName: YOURKEY
    RootVolumeType: gp2
  aws:autoscaling:trigger:
    BreachDuration: '4'
    LowerThreshold: '45'
    MeasureName: CPUUtilization
    Period: '1'
    UpperThreshold: '75'
    Unit: Percent
  aws:autoscaling:asg:
    MinSize: '2'
    Cooldown: '600'
    MaxSize: '4'
  aws:autoscaling:updatepolicy:rollingupdate:
    MinInstancesInService: '1'
    PauseTime: PT6M
    RollingUpdateType: Time
    MaxBatchSize: '2'
    RollingUpdateEnabled: true
  # Notificactions
  aws:elasticbeanstalk:sns:topics:
    Notification Endpoint: your@mail.com
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  # Health checks
  aws:elasticbeanstalk:healthreporting:system:
    ConfigDocument:
      Version: 1
      CloudWatchMetrics:
        Instance:
          RootFilesystemUtil: 60
          CPUIrq: 60
          LoadAverage5min: 60
          ApplicationRequests5xx: 60
          ApplicationRequests4xx: null
          CPUUser: 60
          LoadAverage1min: 60
          ApplicationLatencyP50: null
          CPUIdle: 60
          InstanceHealth: 60
          ApplicationLatencyP95: null
          ApplicationLatencyP85: null
          ApplicationLatencyP90: null
          CPUSystem: 60
          ApplicationLatencyP75: null
          CPUSoftirq: 60
          ApplicationLatencyP10: null
          ApplicationLatencyP99: null
          ApplicationRequestsTotal: null
          ApplicationLatencyP99.9: null
          ApplicationRequests3xx: null
          ApplicationRequests2xx: null
          CPUIowait: 60
          CPUNice: 60
        Environment:
          InstancesSevere: 60
          InstancesDegraded: 60
          ApplicationRequests5xx: 60
          ApplicationRequests4xx: null
          ApplicationLatencyP50: null
          ApplicationLatencyP95: null
          ApplicationLatencyP85: null
          InstancesUnknown: 60
          ApplicationLatencyP90: null
          InstancesInfo: 60
          InstancesPending: 60
          ApplicationLatencyP75: null
          ApplicationLatencyP10: null
          ApplicationLatencyP99: null
          ApplicationRequestsTotal: null
          InstancesNoData: 60
          ApplicationLatencyP99.9: null
          ApplicationRequests3xx: null
          ApplicationRequests2xx: null
          InstancesOk: 60
          InstancesWarning: 60
    SystemType: enhanced
    HealthCheckSuccessThreshold: Warning
  # ELB configurations and instance healthcheck
  aws:elb:policies:
    Stickiness Cookie Expiration: '86000'
    Stickiness Policy: true
  aws:elb:healthcheck:
    UnhealthyThreshold: '3'
    Timeout: '8'
    HealthyThreshold: '2'
    Interval: '30'
  aws:elb:loadbalancer:
    CrossZone: true
  # ELB listener and cert for ssl offloading
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:eu-west-1:xxxxxxxxxxxxxxx:certificate/xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
    ListenerProtocol: HTTPS
    InstancePort: 80
    InstanceProtocol: HTTP