###################################
## Security group configurations ##
###################################

option_settings:
  aws:elasticbeanstalk:customoption:
    MyIP: "xxx.xxx.xxx.xxx/32"
  ## Prevent Beanstalk from adding SSH ingress to instance SG
  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp, 22, 22, 127.0.0.1/32
  ## Use the custom security group for the load balancer
  aws:elb:loadbalancer:
    SecurityGroups: '`{ "Ref" : "loadbalancersghttp" }`,`{ "Ref" : "loadbalancersghttps" }`' 
    ManagedSecurityGroup: '`{ "Ref" : "loadbalancersghttp" }`,`{ "Ref" : "loadbalancersghttps" }`'

Resources:
  ## Extend instance security group with SSH rule
  sshfromhome: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 22
      FromPort: 22
      CidrIp: 
        Fn::GetOptionSetting: {OptionName: MyIP}
  ## SecurityGroup - ingressfromlb 
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 80
      FromPort: 80
      SourceSecurityGroupName: {"Fn::GetAtt" : ["AWSEBLoadBalancer" , "SourceSecurityGroup.GroupName"]}
  ## Custom HTTP security group for load balancer
  loadbalancersghttp:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: ELB Security Group HTTP
      VpcId: 
        Fn::GetOptionSetting: {OptionName: VPCId}
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
  ## Custom HTTPS security group for load balancer
  loadbalancersghttps:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: ELB Security Group HTTPS
      VpcId: 
        Fn::GetOptionSetting: {OptionName: VPCId}
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0